<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DBConnectionString"
			 connectionString="Data Source=LAPTOP-IJPGFC76\MSSQLSERVER16DEV;Database=ParadiseJournals;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>